@page "/dictados"

@using Web.Pages.Autenticacion;

@inject SweetAlertService Swal;
@inject NavigationManager navegacion;

@inject AuthService AuthService;

@if (cargando)
{
    <img class="pb-2" style="width:35px" src="/assets/loading.gif" />
}
else if (!rolAutorizado)
{
    <Unauthorized />
}
else
{
    @if (!error)
    {
        @if (dictados == null)
        {
            <div class="d-flex align-items-center">
                <h2 class="me-3">Dictados</h2>
                <img class="pb-2" style="width:35px" src="/assets/loading.gif" />
            </div>
        }
        else
        {
            <div class="d-flex align-items-center justify-content-between">
                <h2>Dictados</h2>
                <a href="dictado">
                    <img class="pb-2" src="/assets/add.png" style="width: 60px; height: 60px" />
                </a>
            </div>

            <input @bind="busqueda" @bind:event="oninput" type="text" placeholder="Buscar por Cargo, Docente, Comision o Materia..." class="form-control mt-2 mb-4 busqueda-input" />

            IEnumerable<Docente_Curso> dictadosFilt = dictadosFiltrados();

            @if (!dictadosFilt.Any())
            {
                <div class="alert alert-primary fw-bold mt-3" role="alert">
                    No hay dictados registrados o no hay resultados que coincidan con la búsqueda.
                </div>
            }
            else
            {
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Docente</th>
                            <th>Curso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dictado in dictadosFilt)
                        {
                            <tr>
                                <td style="vertical-align: middle;">@dictado.Cargo</td>
                                <td style="vertical-align: middle;">@dictado.Docente.Apellido, @dictado.Docente.Nombre</td>
                                <td style="vertical-align: middle;">@dictado.Curso.Materia.Desc_materia ➡️ @dictado.Curso.Comision.Desc_comision</td>
                                <td class="d-flex justify-content-end">
                                    <a class="btn btn-primary btn-sm" href="dictado/@dictado.Id_dictado">
                                        <i class="bi bi-pencil-square fs-5"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm ms-2" @onclick="(() => EliminarDictado(dictado))">
                                        <i class="bi bi-trash-fill fs-5"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
    else
    {
        <h2 class="mt-3">Dictados</h2>
        <div class="alert alert-danger fw-bold my-3" role="alert">
            Error al conectarse a la base de datos!
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-dark" href="/">Volver</a>
        </div>
    }
}

@code {
    IEnumerable<Docente_Curso> dictados;
    string busqueda = "";
    bool error;

    bool cargando = true;
    bool rolAutorizado = false;

    protected override async Task OnInitializedAsync()
    {
        var authResult = await AuthService.IsAuthenticatedAsync();

        if (!authResult.IsAuthenticated)
        {
            navegacion.NavigateTo("/login");
        }
        else
        {
            if (authResult.Rol != "2")
            {
                rolAutorizado = false;
            }
            else
            {
                rolAutorizado = true;
                await CargarDictados();
            }
        }
        cargando = false;
    }

    private async Task CargarDictados()
    {
        dictados = null;
        error = false;

        try
        {
            dictados = (await DictadoNegocio.GetAll())
                            .OrderBy(dic => dic.Curso.Materia.Desc_materia)
                                .ThenBy(dic => dic.Curso.Comision.Desc_comision)
                                    .ThenBy(dic => dic.Docente.Apellido)
                                        .ThenBy(dic => dic.Docente.Nombre)
                                            .ThenBy(dic => dic.Cargo);
        }
        catch (Exception)
        {
            error = true;
        }
    }

    private IEnumerable<Docente_Curso> dictadosFiltrados()
    {
        if (string.IsNullOrWhiteSpace(busqueda))
        {
            return dictados ?? new List<Docente_Curso>();
        }

        return dictados?.Where(dic =>
               dic.Cargo.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
              (dic.Docente.Apellido + ", " + dic.Docente.Nombre).Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
               dic.Curso.Comision.Desc_comision.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
               dic.Curso.Materia.Desc_materia.Contains(busqueda, StringComparison.OrdinalIgnoreCase))
            ?? new List<Docente_Curso>();
    }

    private async Task EliminarDictado(Docente_Curso dictado)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Esta acción no se puede revertir",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "Cancelar",
                ConfirmButtonText = "Confirmar"
            });

        if (result.IsConfirmed)
        {
            HttpResponseMessage response = await DictadoNegocio.Delete(dictado);

            if (response.StatusCode == HttpStatusCode.OK)
            {
                await Swal.FireAsync("Dictado eliminado", "El dictado ha sido eliminado correctamente", SweetAlertIcon.Success);

                await CargarDictados();
            }
            else if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                await Swal.FireAsync("Error", "La operación no se ha podido llevar a cabo", SweetAlertIcon.Error);
            }
            else if (response.StatusCode == HttpStatusCode.ServiceUnavailable)
            {
                error = true;
            }
        }
    }
}