@page "/persona"
@page "/persona/{idPersona:int}"

@using System.Text.RegularExpressions;

@inject SweetAlertService Swal;
@inject NavigationManager navegacion;

<h2 class="mt-3">@titulo</h2>

@if (!errorBD)
{
    if (!errorFaltanEntidades)
    {
        <EditForm Model="persona" OnValidSubmit="GuardarPersona">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <div class="mt-4">
                <label class="form-label fw-bold">Nombre</label>
                <InputText class="form-control" @bind-Value="persona.Nombre" @oninput="ValidarNombre"></InputText>
                @if (errorNombreInvalido)
                {
                    <div class="text-danger mt-2">El nombre debe tener entre de 2 y 30 caracteres.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Apellido</label>
                <InputText class="form-control" @bind-Value="persona.Apellido" @oninput="ValidarApellido"></InputText>
                @if (errorApellidoInvalido)
                {
                    <div class="text-danger mt-2">El apellido debe tener entre de 2 y 50 caracteres.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Direccion</label>
                <InputText class="form-control" @bind-Value="persona.Direccion" @oninput="ValidarDireccion"></InputText>
                @if (errorDireccionInvalida)
                {
                    <div class="text-danger mt-2">La dirección debe tener entre de 5 y 30 caracteres.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Email</label>
                <InputText class="form-control" @bind-Value="persona.Email" @oninput="ValidarEmail"></InputText>
                @if (errorEmailInvalido)
                {
                    <div class="text-danger mt-2">El email ingresado es inválido.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Telefono</label>
                <InputText class="form-control" @bind-Value="persona.Telefono" @oninput="ValidarTelefono"></InputText>
                @if (errorTelefonoInvalido)
                {
                    <div class="text-danger mt-2">El teléfono debe estar conformado por entre 10 y 20 números.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Fecha de Nacimiento</label>
                <InputDate class="form-control" @bind-Value="persona.Fecha_nac" @oninput="ValidarFechaNacimiento"></InputDate>
                @if (errorFechaNacimientoInvalida)
                {
                    <div class="text-danger mt-2">La fecha de nacimiento debe ser mayor o igual al año 1900 y menor a la actual.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Legajo</label>
                <InputNumber class="form-control" @bind-Value="persona.Legajo" @oninput="ValidarLegajo"></InputNumber>
                @if (errorLegajoInvalido)
                {
                    <div class="text-danger mt-2">El legajo debe estar conformado por 5 o 6 números.</div>
                }
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Tipo</label>
                <InputSelect class="form-select" @bind-Value="persona.Tipo_persona">
                    <option value="0">Alumno</option>
                    <option value="1">Docente</option>
                </InputSelect>
                <ValidationMessage For="@(() => persona.Tipo_persona)"></ValidationMessage>
            </div>

            <div class="mt-4">
                <label class="form-label fw-bold">Plan</label>
                <InputSelect class="form-select" @bind-Value="persona.Id_plan">
                    @foreach (var plan in planes)
                    {
                        <option value="@plan.Id_plan">@plan.Desc_plan ➡️ @plan.Especialidad.Desc_especialidad</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => persona.Id_plan)"></ValidationMessage>
            </div>

            <div class="d-flex align-items-center justify-content-end my-3">
                <a class="btn btn-warning" href="personas">Volver</a>

                <button class="btn btn-primary ms-2" type="submit" disabled="@botonDeshabilitado">
                    @btnTexto
                </button>
            </div>

        </EditForm>
    }
    else
    {
        <div class="alert alert-warning fw-bold my-4" role="alert">
            Debe haber al menos un plan registrado previamente!
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-warning" href="personas">Volver</a>
        </div>
    }
}
else
{
    <div class="alert alert-danger fw-bold my-4" role="alert">
        Error al conectarse a la base de datos!
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-warning" href="personas">Volver</a>
    </div>
}



@code {
    [Parameter]
    public int idPersona { get; set; } = 0;

    string titulo = string.Empty;
    string btnTexto = string.Empty;

    Persona persona = new Persona();
    List<Plan> planes = new List<Plan>();

    bool errorBD = false;
    bool errorFaltanEntidades = false;

    bool errorNombreInvalido = false;
    bool errorApellidoInvalido = false;
    bool errorDireccionInvalida = false;
    bool errorEmailInvalido = false;
    bool errorTelefonoInvalido = false;
    bool errorFechaNacimientoInvalida = false;
    bool errorLegajoInvalido = false;

    bool botonDeshabilitado = false;

    bool nombreModificado = false;
    bool apellidoModificado = false;
    bool direccionModificada = false;
    bool emailModificado = false;
    bool telefonoModificado = false;
    bool fechaNacimientoModificada = false;
    bool legajoModificado = false;

    protected override async Task OnInitializedAsync()
    {
        if (idPersona != 0)
        {
            titulo = "Editar Persona";
            btnTexto = "Actualizar";

            try
            {
                persona = await PersonaNegocio.GetOne(idPersona);

                planes = (List<Plan>) await PlanNegocio.GetAll();

            }
            catch (Exception)
            {
                errorBD = true;
            }
        }
        else
        {
            titulo = "Nueva Persona";
            btnTexto = "Guardar";

            botonDeshabilitado = true;

            try
            {
                planes = (List<Plan>) await PlanNegocio.GetAll();

            }
            catch (Exception)
            {
                errorBD = true;
            }
        }

        if (planes.Any())
        {
            planes = planes.OrderBy(plan => plan.Desc_plan).ThenBy(plan => plan.Especialidad.Desc_especialidad).ToList();
        }
        else
        {
            errorFaltanEntidades = true;
        }
    }

    private void ValidarNombre(ChangeEventArgs e)
    {
        nombreModificado = true;

        string? nombre = e.Value?.ToString();

        if (nombre == null || nombre.Length < 2 || nombre.Length > 30)
        {
            errorNombreInvalido = true;
        }
        else
        {
            errorNombreInvalido = false;
        }

        ActualizarEstadoBoton();
    }

    private void ValidarApellido(ChangeEventArgs e)
    {
        apellidoModificado = true;

        string? apellido = e.Value?.ToString();

        if (apellido == null || apellido.Length < 2 || apellido.Length > 50)
        {
            errorApellidoInvalido = true;
        }
        else
        {
            errorApellidoInvalido = false;
        }

        ActualizarEstadoBoton();
    }

    private void ValidarDireccion(ChangeEventArgs e)
    {
        direccionModificada = true;

        string? direccion = e.Value?.ToString();

        if (direccion == null || direccion.Length < 5 || direccion.Length > 30)
        {
            errorDireccionInvalida = true;
        }
        else
        {
            errorDireccionInvalida = false;
        }

        ActualizarEstadoBoton();
    }

    private void ValidarEmail(ChangeEventArgs e)
    {
        emailModificado = true;

        string? email = e.Value?.ToString();

        string patronEmail = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";

        if (email == null || !Regex.IsMatch(email, patronEmail))
        {
            errorEmailInvalido = true;
        }
        else
        {
            errorEmailInvalido = false;
        }

        ActualizarEstadoBoton();
    }

    private void ValidarTelefono(ChangeEventArgs e)
    {
        telefonoModificado = true;

        string? telefono = e.Value?.ToString();

        string patronTelefono = @"^\d{10,20}$";

        if (telefono == null || !Regex.IsMatch(telefono, patronTelefono))
        {
            errorTelefonoInvalido = true;
        }
        else
        {
            errorTelefonoInvalido = false;
        }

        ActualizarEstadoBoton();
    }

    private void ValidarFechaNacimiento(ChangeEventArgs e)
    {
        fechaNacimientoModificada = true;

        if (DateTime.TryParse(e.Value?.ToString(), out DateTime fechaNacimiento))
        {
            errorFechaNacimientoInvalida = fechaNacimiento >= DateTime.Today || fechaNacimiento < new DateTime(1900, 1, 1);
        }
        else
        {
            errorFechaNacimientoInvalida = false;
        }

        ActualizarEstadoBoton();
    }


    private void ValidarLegajo(ChangeEventArgs e)
    {
        legajoModificado = true;

        if (int.TryParse(e.Value?.ToString(), out int legajo))
        {
            string patronLegajo = @"^\d{5,6}$";

            errorLegajoInvalido = !Regex.IsMatch(legajo.ToString(), patronLegajo);
        }
        else
        {
            errorLegajoInvalido = false;
        }

        ActualizarEstadoBoton();
    }

    private void ActualizarEstadoBoton()
    {
        if (idPersona!= 0)
        {
            botonDeshabilitado = errorNombreInvalido || errorApellidoInvalido || errorDireccionInvalida || errorEmailInvalido || errorTelefonoInvalido || errorFechaNacimientoInvalida || errorLegajoInvalido;
        }
        else
        {
            botonDeshabilitado = errorNombreInvalido || errorApellidoInvalido || errorDireccionInvalida || errorEmailInvalido || errorTelefonoInvalido || errorFechaNacimientoInvalida || errorLegajoInvalido ||
                               !nombreModificado || !apellidoModificado || !direccionModificada || !emailModificado || !telefonoModificado || !fechaNacimientoModificada || !legajoModificado;
        }
    }

    private async Task GuardarPersona()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se guardaran los cambios realizados",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "Cancelar",
                ConfirmButtonText = "Confirmar"
            });

        if (result.IsConfirmed)
        {
            if (idPersona != 0)
            {
                PersonaDTO personaDTO = new PersonaDTO();
                personaDTO.Nombre = persona.Nombre;
                personaDTO.Apellido = persona.Apellido;
                personaDTO.Direccion = persona.Direccion;
                personaDTO.Email = persona.Email;
                personaDTO.Telefono = persona.Telefono;
                personaDTO.Fecha_nac = persona.Fecha_nac;
                personaDTO.Legajo = persona.Legajo;
                personaDTO.Tipo_persona = persona.Tipo_persona;
                personaDTO.Id_plan = persona.Id_plan;

                HttpResponseMessage response = await PersonaNegocio.Update(idPersona, personaDTO);

                if (response.StatusCode == HttpStatusCode.OK)
                {
                    await Swal.FireAsync("Persona actualizada", "La persona ha sido actualizada correctamente", SweetAlertIcon.Success);
                }
                else if (response.StatusCode == HttpStatusCode.BadRequest)
                {
                    await Swal.FireAsync("Error", "La operación no se ha podido llevar a cabo", SweetAlertIcon.Error);
                }
                else if (response.StatusCode == HttpStatusCode.ServiceUnavailable)
                {
                    await Swal.FireAsync("Error", "Error al conectarse a la base de datos!", SweetAlertIcon.Error);
                }
            }
            else
            {
                if (persona.Tipo_persona != 0 && persona.Tipo_persona != 1)
                {
                    persona.Tipo_persona = 0;
                }
                if (persona.Id_plan == 0)
                {
                    persona.Id_plan = planes.First().Id_plan;
                }

                HttpResponseMessage response = await PersonaNegocio.Add(persona);

                if (response.StatusCode == HttpStatusCode.Created)
                {
                    await Swal.FireAsync("Persona creada", "La persona ha sido creada correctamente", SweetAlertIcon.Success);
                }
                else if (response.StatusCode == HttpStatusCode.BadRequest)
                {
                    await Swal.FireAsync("Error", "La operación no se ha podido llevar a cabo", SweetAlertIcon.Error);
                }
                else if (response.StatusCode == HttpStatusCode.ServiceUnavailable)
                {
                    await Swal.FireAsync("Error", "Error al conectarse a la base de datos!", SweetAlertIcon.Error);
                }
            }
            navegacion.NavigateTo("/personas");
        }
    }
}