@page "/inscripciones"

@using Entidades;
@using Negocio;
@using CurrieTechnologies.Razor.SweetAlert2;

@inject SweetAlertService Swal;


<div class="d-flex align-items-center justify-content-between mt-3">
    <h2>Inscripciones</h2>
    <a href="inscripcion">
        <img src="./css/add.png" style="width: 65px; height: 65px" />
    </a>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Condicion</th>
            <th>Nota</th>
            <th>Alumno</th>
            <th>Curso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (inscripciones == null)
        {
            <tr>
                <td colspan="5" align="center">
                    <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
                </td>
            </tr>
        }
        else
        {
            @foreach (var inscripcion in inscripciones)
            {
                <tr>
                    <td style="vertical-align: middle;">@inscripcion.Condicion</td>
                    <td style="vertical-align: middle;">@inscripcion.Nota</td>
                    <td style="vertical-align: middle;">@inscripcion.Alumno.Apellido, @inscripcion.Alumno.Nombre</td>
                    <td style="vertical-align: middle;">@inscripcion.Curso.Comision.Desc_comision ➡️ @inscripcion.Curso.Materia.Desc_materia</td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-primary btn-sm" href="inscripcion/@inscripcion.Id_inscripcion">
                            <i class="bi bi-pencil-square fs-5"></i>
                        </a>
                        <button class="btn btn-danger btn-sm ms-2" @onclick="(() => EliminarInscripcion(inscripcion))">
                            <i class="bi bi-trash-fill fs-5"></i>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


@code {

    IEnumerable<Alumno_Inscripcion> inscripciones = null;

    protected override async Task OnInitializedAsync()
    {
        inscripciones = await InscripcionNegocio.GetAll();
    }

    private async Task EliminarInscripcion(Alumno_Inscripcion inscripcion)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "¿Está seguro?",
            Text = "Esta acción no se puede revertir",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            CancelButtonText = "Cancelar",
            ConfirmButtonText = "Confirmar"
        });

        if (result.IsConfirmed)
        {
            var response = await InscripcionNegocio.Delete(inscripcion);

            if (response)
            {
                await Swal.FireAsync("Inscripcion eliminada", "La inscripcion ha sido eliminada correctamente", SweetAlertIcon.Success);
                
                inscripciones = await InscripcionNegocio.GetAll();          
                
            } else
            {
                await Swal.FireAsync("Error", "La operación no se ha podido llevar a cabo", SweetAlertIcon.Error);
            }
        }

    }
}