@page "/inscripciones"

@inject SweetAlertService Swal;

@if (!error)
{
    @if (inscripciones == null)
    {
        <div class="d-flex align-items-center mt-3">
            <h2 class="me-3">Inscripciones</h2>
            <img class="pb-2" style="width:35px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
        </div>
    }
    else
    {
        <div class="d-flex align-items-center justify-content-between mt-3">
            <h2>Inscripciones</h2>
            <a href="inscripcion">
                <img class="pb-2" src="/assets/add.png" style="width: 60px; height: 60px" />
            </a>
        </div>

        <input @bind="busqueda" @bind:event="oninput" type="text" placeholder="Buscar por Condicion, Alumno, Comision o Materia..." class="form-control mb-3 busqueda-input" />

        IEnumerable<Alumno_Inscripcion> inscripcionesFilt = inscripcionesFiltradas();

        @if (!inscripcionesFilt.Any())
        {
            <div class="alert alert-primary fw-bold mt-3" role="alert">
                No hay inscripciones registradas o no hay resultados que coincidan con la búsqueda.
            </div>
        }
        else
        {
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Condicion</th>
                        <th>Nota</th>
                        <th>Alumno</th>
                        <th>Curso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var inscripcion in inscripcionesFilt)
                        {
                            <tr>
                                <td style="vertical-align: middle;">@inscripcion.Condicion</td>
                                <td style="vertical-align: middle;">@(inscripcion.Nota == 0 ? "-": @inscripcion.Nota)</td>
                                <td style="vertical-align: middle;">@inscripcion.Alumno.Apellido, @inscripcion.Alumno.Nombre</td>
                                <td style="vertical-align: middle;">@inscripcion.Curso.Comision.Desc_comision ➡️ @inscripcion.Curso.Materia.Desc_materia</td>
                                <td class="d-flex justify-content-end">
                                    <a class="btn btn-primary btn-sm" href="inscripcion/@inscripcion.Id_inscripcion">
                                        <i class="bi bi-pencil-square fs-5"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm ms-2" @onclick="(() => EliminarInscripcion(inscripcion))">
                                        <i class="bi bi-trash-fill fs-5"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        }
    }
}
else
{
    <h2 class="mt-3">Inscripciones</h2>
    <div class="alert alert-danger fw-bold my-3" role="alert">
        Error al conectarse a la base de datos!
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" @onclick="OnInitializedAsync">Reintentar</button>
    </div>
}


@code {
    IEnumerable<Alumno_Inscripcion> inscripciones;
    string busqueda = "";
    bool error;

    protected override async Task OnInitializedAsync()
    {
        await CargarInscripciones();
    }

    private async Task CargarInscripciones()
    {
        inscripciones = null;
        error = false;

        try
        {
            inscripciones = await InscripcionNegocio.GetAll();
        }
        catch (Exception)
        {
            error = true;
        }
    }

    private IEnumerable<Alumno_Inscripcion> inscripcionesFiltradas()
    {
        if (string.IsNullOrWhiteSpace(busqueda))
        {
            return inscripciones ?? new List<Alumno_Inscripcion>();
        }

        return inscripciones?.Where(ins =>
               ins.Condicion.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
              (ins.Alumno.Apellido + ", " + ins.Alumno.Nombre).Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
               ins.Curso.Comision.Desc_comision.Contains(busqueda, StringComparison.OrdinalIgnoreCase) ||
               ins.Curso.Materia.Desc_materia.Contains(busqueda, StringComparison.OrdinalIgnoreCase))
            ?? new List<Alumno_Inscripcion>();
    }

    private async Task EliminarInscripcion(Alumno_Inscripcion inscripcion)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Esta acción no se puede revertir",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "Cancelar",
                ConfirmButtonText = "Confirmar"
            });

        if (result.IsConfirmed)
        {
            HttpResponseMessage response = await InscripcionNegocio.Delete(inscripcion);

            if (response.StatusCode == HttpStatusCode.OK)
            {
                await Swal.FireAsync("Inscripcion eliminada", "La inscripcion ha sido eliminada correctamente", SweetAlertIcon.Success);

                // Eliminar la inscripcion de la lista localmente para evitar una recarga completa
                inscripciones = inscripciones.Where(ins => ins.Id_inscripcion != inscripcion.Id_inscripcion);
            }
            else if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                await Swal.FireAsync("Error", "La operación no se ha podido llevar a cabo", SweetAlertIcon.Error);
            }
            else if (response.StatusCode == HttpStatusCode.ServiceUnavailable)
            {
                error = true;
            }
        }
    }
}